[%breadcrumb%]
	[%PARAM *header%]
		<ul class="breadcrumb" itemscope itemtype="http://schema.org/BreadcrumbList" role="navigation" aria-label="Breadcrumb">
			<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
				<a href="[@config:home_url@]" itemprop="item"><span itemprop="name">Home</span></a>
			</li>
	[%/PARAM%]
	[%PARAM *body%]
		<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
			<a href="[@url@]" itemprop="item"><span itemprop="name">[@name@]</span></a>
		</li>
	[%/PARAM%]
	[%PARAM *footer%]
		</ul>
	[%/PARAM%]
[%/breadcrumb%]
