[%payment_methods ignore_balance:'1'%]
  [%param header%]
    <ul class="list-inline" role="contentinfo" aria-label="Accepted Payment methods">
  [%/param%]
  [%param *body%]
    [%if [@name@] like 'American Express'%]
      <li>
        <div class="payment-icon-container">
          <div class="payment-icon payment-icon-americanexpress">
            <span class="sr-only">[@name@]</span>
          </div>
        </div>
      </li>
    [%/if%]
    [%if [@name@] like 'Visa'%]
      <li>
        <div class="payment-icon-container">
          <div class="payment-icon payment-icon-visa">
            <span class="sr-only">[@name@]</span>
          </div>
        </div>
      </li>
    [%/if%]
    [%if [@name@] like 'MasterCard' OR [@name@] like 'Master Card'%]
      <li>
        <div class="payment-icon-container">
          <div class="payment-icon payment-icon-mastercard">
            <span class="sr-only">[@name@]</span>
          </div>
        </div>
      </li>
    [%/if%]
    [%if [@name@] like 'Discover'%]
      <li>
        <div class="payment-icon-container">
          <div class="payment-icon payment-icon-discover">
            <span class="sr-only">[@name@]</span>
          </div>
        </div>
      </li>
    [%/if%]
    [%if [@name@] like 'Diners'%]
      <li>
        <div class="payment-icon-container">
          <div class="payment-icon payment-icon-diners">
            <span class="sr-only">[@name@]</span>
          </div>
        </div>
      </li>
    [%/if%]
    [%if [@name@] like 'Cheque'%]
      <li>
        <div class="payment-icon-container">
          <div class="payment-icon payment-icon-cheque">
            <span class="sr-only">[@name@]</span>
          </div>
        </div>
      </li>
    [%/if%]
    [%if [@name@] like 'Money Order'%]
      <li>
        <div class="payment-icon-container">
          <div class="payment-icon payment-icon-moneyorder">
            <span class="sr-only">[@name@]</span>
          </div>
        </div>
      </li>
    [%/if%]
    [%if [@name@] like 'Direct Deposit' || [@name@] like 'Bank Deposit'%]
      <li>
        <div class="payment-icon-container">
          <div class="payment-icon payment-icon-directdeposit">
            <span class="sr-only">[@name@]</span>
          </div>
        </div>
      </li>
    [%/if%]
    [%if [@name@] like 'bpay'%]
      <li>
        <div class="payment-icon-container">
          <div class="payment-icon payment-icon-bpay">
            <span class="sr-only">[@name@]</span>
          </div>
        </div>
      </li>
    [%/if%]
    [%if [@name@] like 'paypal'%]
      <li>
        <div class="payment-icon-container">
          <div class="payment-icon payment-icon-paypal">
            <span class="sr-only">[@name@]</span>
          </div>
        </div>
      </li>
    [%/if%]
    [%if [@name@] like 'afterpay'%]
      <li>
        <div class="payment-icon-container">
          <div class="payment-icon payment-icon-afterpay">
            <span class="sr-only">[@name@]</span>
          </div>
        </div>
      </li>
    [%/if%]
    [%if [@name@] like 'Q Card' OR [@name@] like 'QCard'%]
      <li>
        <div class="payment-icon-container">
          <div class="payment-icon payment-icon-q-card">
            <span class="sr-only">[@name@]</span>
          </div>
        </div>
      </li>
    [%/if%]
    [%if [@name@] like 'Paymark Online Eftpos' OR [@name@] like 'Paymark'%]
      <li>
        <div class="payment-icon-container">
          <div class="payment-icon payment-icon-paymark">
            <span class="sr-only">[@name@]</span>
          </div>
        </div>
      </li>
    [%/if%]
  [%/param%]
  [%param *footer%]
    </ul>
  [%/param%]
[%/payment_methods%]
