	</div>
</div>
<footer class="wrapper-footer">
	<div class="container">
		<div class="row">
			<div class="col-xs-12">
				<hr />
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12 col-sm-8">
				<nav class="row" role="navigation" aria-label="Footer menu">
					[%menu id:'web_footer'%]
						[%param *level_1%]
							<div class="col-xs-12 col-sm-4">
								<h4 aria-label="[@name@] Menu">[@name@]</h4>
								<ul class="nav nav-pills nav-stacked">
									[@next_level@]
								</ul>
							</div>
						[%/param%]
						[%param *level_2%]
							<li><a href="[@url@]" role="link">[@name@]</a></li>
						[%/param%]
					[%/menu%]
				</nav>
			</div>
			<div class="col-xs-12 col-sm-4">
				[%load_template file:'components/neto_newsletter.template.html'/%]
				[%load_template file:'components/social_icons.template.html'/%]
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12">
				<hr />
			</div>
		</div>
		<div class="row">
			<div class="col-xs-9 hidden-xs">
				[%load_template file:'components/payment_icons.template.html'/%]
			</div>
			<div class="col-sm-3">
				<address role="contentinfo" aria-label="Company Details">
					<strong>Copyright &copy; [%format type:'date' format:'#Y'%]today[%/format%] [@config:company_name@]</strong><br>
					[%if [@config:company_abn@]%]<strong>ABN:</strong> [@config:company_abn@]<br>[%/ if%]
					[%if [@config:company_poaddr@]%]<strong>Address:</strong> [@config:company_poaddr@][%/ if%]
					[%if [@config:show_platform_branding@]%]<p class="small"><a href="http://www.neto.com.au" title="E-commerce Shopping Cart" target="_blank">E-commerce Software</a> By Neto</p>[%/if%]
				</address>
			</div>
		</div>
	</div>
</footer>
[%load_template file:'components/neto_logic.template.html'/%]
</body>
</html>
