<div class="extra-options">
	[%load_template file:"products/includes/multilevelpricing.template.html"/%]
	[%load_template file:"products/includes/extra_options.template.html"/%]

	[%data id:'multiplier_qty' if:'ne' value:'0' %]
	Order In Lots Of <strong>[@multiplier_qty@]</strong>
	[%end data%]
	[%data id:'min_qty' if:'ne' value:'0' %]
	Minimum Order Quantity <strong>[@min_qty@]</strong>
	[%end data%]
	[%data id:'max_qty' if:'ne' value:'0' %]
	Maximum Order Quantity <strong>[@max_qty@]</strong>
	[%end data%]

	[%load_template file:"products/includes/addtocart.template.html"/%]
	[%load_template file:"products/includes/shipping_cal.template.html"/%]
		
	[%IF [@short_description@]%]
	<p itemprop="description" aria-label="Product Short Description">
	[@short_description@]
	</p>
	[%END IF%]
</div>

<div class="modal fade notifymodal" id="notifymodal">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title">Notify me when back in stock</h4>
			</div>
			<div class="modal-body">
				<div class="form-group">
					<label>Your Name</label>
					<input placeholder="Jane Smith" name="from_name" id="from_name" type="text" class="form-control" value="[%NOHTML%][@FROM_NAME@][%END NOHTML%]">
				</div>
				<div class="form-group">
					<label>Your Email Address</label>
					<input placeholder="jane.smith@test.com.au" name="from" id="from" type="email" class="form-control" value="[%NOHTML%][@FROM@][%END NOHTML%]">
				</div>
			</div>
			<div class="modal-footer">
				<input class="btn btn-danger" type="button" data-dismiss="modal" value="Cancel">
				<input class="btn btn-success" type="button" data-dismiss="modal" value="Save My Details" onClick="javascript:$.addNotifyBackInStock('[@SKU@]', '');">
			</div>
		</div><!-- /.modal-content -->
	</div>
</div>
